body{
    background-image: url("./pattern-background-desktop.svg");
    background-color:#F2F2F2;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    background-color: #FFFFFF;
    width: 450px;
    height: 697px;
    border-radius: 20px;

}
img{
    width: 450px;
    height: 220px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px ;
}
.order{
    font-family: "red-hat-disfley";
    Line-height: 100%;
    margin-left: 48px;
    margin-right: 48px;
    }
h1{
    color: #1F2E55;
    display: flex;
    align-items: center;
    justify-content: center;
   }
p{
    font-family: Red Hat Display;
    font-weight: 500;
    color: #717FA6;
    margin-right: 48px;
    margin-left: 48px;
    text-align: center;
    line-height: 26px;
}

.icon{
  width: 48px;  
  height: 48px;
  margin-right: 20px;
  margin-left: 24px;
  
}
.icon path:hover{
    fill: #382AE1;

}
.year{
    color: #717FA6;
    margin-bottom: 25px;
}
.ann{
    color: #1F2E55;
    font-weight: 900;
    font-family: "Red Hat Display";
    margin-bottom: 6px;
    margin-top: 25px;
}
.change{
    color: #382AE1;
    font-weight: 900;
    margin-right: 25px;
}
.left{ 
    display: flex;
    align-items: center;
    justify-content:left;
}
.plan{
    display: flex;
    flex-direction: column;
}
.rect{
    background-color: #F7F9FF;
    width: 354px;
    height: 98px;
    border-radius: 11px;   
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 48px;
    margin-bottom: 32px;
}
.pur{
    Height:50px;
    display: flex;
    justify-content: center;
}
.pay{
   color: #FFFFFF;
   font-weight:900;
   Width:150px;
}
.window{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #382AE1;
    width: 354px;
    height: 50px;
    border-radius: 11px;
    margin-left: 48px;
}
.cencel{
    width: 96px;
    height: 20px;
    font-weight: 900;
    size:15px;
    color:#717FA6;
    margin-top: 32px;
    margin-left: 176px;

}